.smart__contracts {
    background-color: #d5edf8f1;
    padding: 5rem;

    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 45% 50%;
    grid-gap: 10rem;

    @media only screen and (max-width: $bp-smaller) {
        grid-template-columns: 100%;
    }

    img {
        height: 50rem;
        width: 25rem;
        justify-self: end;
        align-self: end;

        @media only screen and (max-width: $bp-medium) {
            align-self: center;
        }

        @media only screen and (max-width: $bp-smaller) {
            display: none;
        }
    }

    h2 {
        font-size: 3rem;
        text-align: start;
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.2rem;
        }

        @media only screen and (max-width: $bp-smaller) {
            text-align: center;
        }
    }

    ul {
        //list-style: none;
        padding: 2rem;
    }

    li {
        font-size: 1.5rem;
        padding: 0.5rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
        }
    }

    li:last-of-type {
        margin-bottom: 5rem;
    }

    span {
        font-size: 2.2rem;
        font-weight: bold;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.7rem;
        }
    }

    ul .btn {
        font-size: 2.5rem;
        color: white;
        background-color: var(--color-blue);
        text-decoration: none;
        border: 0.2rem solid var(--color-blue);
        border-radius: 0.3rem;
        margin-right: 5rem;
        padding: 0.5rem 1rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.7rem;
        }
    }

    p {
        @media only screen and (max-width: $bp-smaller) {
            font-size: 1.7rem;
            text-align: center;
        }
    }
}
